
.moviesSection{
    margin: 20px 50px;
    
    .slideContainer{
        display: flex;
        padding: 40px 40px 40px 40px;

        .slideItemContainer{

            .slideItem{
                width: 90%;
            }
        }
    }
}
